:local(.form) {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

:local(.form_container) {
  background-color: #29275f;
}

:local(.form_input),
:local(.form_button) {
  background-color: #fff;
  border: 0px solid #29275f;
  padding: 5px;
}

:local(.form_button) {
  color: #383772;
  cursor: pointer;
  font-weight: bold;
}