:root, h1, h2 {
  font-family: sans-serif;
  font-weight: lighter;
  color: #fff;
}

body {
  background-color: #383772;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

section {
  padding-top: 10px;
}